## Часть 1: Введение в Pandas

Pandas - это библиотека Python для работы с данными. Она предоставляет мощные инструменты для анализа и манипуляции данными.

### Установка Pandas

Для начала убедитесь, что у вас установлена библиотека Pandas. Если ее нет, установите ее с помощью команды:

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Импорт библиотеки
Давайте начнем с импорта библиотеки Pandas:

In [ ]:
import pandas as pd

## Часть 2: Работа с данными
### Чтение данных
Мы будем использовать датасет Titanic. Давайте прочитаем данные из CSV файла.

In [ ]:
df = pd.read_csv("/content/Titanic.csv")

### Предпросмотр данных
Для первого ознакомления с данными давайте выведем первые несколько строк.

In [ ]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

### Информация о данных
Чтобы получить общую информацию о данных, воспользуйтесь методом .info().

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Работа с NaN
Часто данные содержат пропущенные значения, которые представляются как NaN (Not a Number). Pandas предоставляет удобные методы для работы с ними.

Проверка на наличие NaN. Методы fillna и dropna возвращают новые Dataframe, проверьте нет ли в них NaN

In [ ]:
# Проверка на наличие NaN в DataFrame
# Используйте метод .isna()
# write your code here
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

Заполнение NaN

In [ ]:
# Заполнение NaN определенным значением (например, нулем)
# Используйте метод .fillna()
# write your code here
df.fillna(0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q

Удаление строк с NaN

In [ ]:
df.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

## Часть 3: Обработка DataFrame
### Выбор данных
Pandas позволяет выбирать данные по индексам, меткам столбцов и условиям.

In [ ]:
# Выбор столбца по метке
# Используйте синтаксис DataFrame['название_столбца']
# write your code here
print(df['Survived'])
# Выбор нескольких столбцов
# Используйте синтаксис DataFrame[['столбец_1', 'столбец_2']]
# write your code here
print(df[['Survived','Pclass']])
# Выбор строк по индексу
# Используйте метод .loc[]
# write your code here
print(df.loc[1])
# Выбор строк и столбцов по условию
# Используя логические операции, выберите мужчин старше 30
# write your code here
print(df.loc[((df['Sex'] == 'male') & (df['Age' ] > 30))])

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
     Survived  Pclass
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
..        ...     ...
886         0       2
887         1       1
888         0       3
889         1       1
890         0       3

[891 rows x 2 columns]
PassengerId                                                    2
Survived                                                       1
Pclass                                                         1
Name           Cumings, Mrs. John Bradley (Florence Briggs Th...
Sex                                                       female
Age                                                         38.0
SibSp                                                          1
Parch                                                          0
Ticket                                                  PC 17599
Fare                                                     71.2833
Cabin                                                        C85
Embarked                                                       C
Name: 1, dtype: object
     PassengerId  Survived  Pclass                                  Name  \
4              5         0       3              Allen, Mr. William Henry
6              7         0       1               McCarthy, Mr. Timothy J
13            14         0       3           Andersson, Mr. Anders Johan
20            21         0       2                  Fynney, Mr. Joseph J
21            22         1       2                 Beesley, Mr. Lawrence
..           ...       ...     ...                                   ...
867          868         0       1  Roebling, Mr. Washington Augustus II
872          873         0       1              Carlsson, Mr. Frans Olof
873          874         0       3           Vander Cruyssen, Mr. Victor
881          882         0       3                    Markun, Mr. Johann
890          891         0       3                   Dooley, Mr. Patrick

      Sex   Age  SibSp  Parch    Ticket     Fare        Cabin Embarked
4    male  35.0      0      0    373450   8.0500          NaN        S
6    male  54.0      0      0     17463  51.8625          E46        S
13   male  39.0      1      5    347082  31.2750          NaN        S
20   male  35.0      0      0    239865  26.0000          NaN        S
21   male  34.0      0      0    248698  13.0000          D56        S
..    ...   ...    ...    ...       ...      ...          ...      ...
867  male  31.0      0      0  PC 17590  50.4958          A24        S
872  male  33.0      0      0       695   5.0000  B51 B53 B55        S
873  male  47.0      0      0    345765   9.0000          NaN        S
881  male  33.0      0      0    349257   7.8958          NaN        S
890  male  32.0      0      0    370376   7.7500          NaN        Q

[202 rows x 12 columns]

### Сортировка данных
Сортировка данных по значениям столбцов.

In [ ]:
# Сортировка данных по столбцу 'столбец_1' по возрастанию
# Используйте метод .sort_values()
# write your code here
print(df.sort_values(by='Survived'))

     PassengerId  Survived  Pclass                               Name     Sex  \
0              1         0       3            Braund, Mr. Owen Harris    male
519          520         0       3                Pavlovic, Mr. Stefo    male
521          522         0       3                    Vovk, Mr. Janko    male
522          523         0       3                 Lahoud, Mr. Sarkis    male
524          525         0       3                  Kassem, Mr. Fared    male
..           ...       ...     ...                                ...     ...
546          547         1       2  Beane, Mrs. Edward (Ethel Clarke)  female
215          216         1       1            Newell, Miss. Madeleine  female
216          217         1       3             Honkanen, Miss. Eliina  female
218          219         1       1              Bazzani, Miss. Albina  female
445          446         1       1          Dodge, Master. Washington    male

      Age  SibSp  Parch            Ticket      Fare Cabin Embarked
0    22.0      1      0         A/5 21171    7.2500   NaN        S
519  32.0      0      0            349242    7.8958   NaN        S
521  22.0      0      0            349252    7.8958   NaN        S
522   NaN      0      0              2624    7.2250   NaN        C
524   NaN      0      0              2700    7.2292   NaN        C
..    ...    ...    ...               ...       ...   ...      ...
546  19.0      1      0              2908   26.0000   NaN        S
215  31.0      1      0             35273  113.2750   D36        C
216  27.0      0      0  STON/O2. 3101283    7.9250   NaN        S
218  32.0      0      0             11813   76.2917   D15        C
445   4.0      0      2             33638   81.8583   A34        S

[891 rows x 12 columns]

### Группировка данных
Pandas также позволяет группировать данные и выполнять агрегирующие операции.

In [ ]:
# Найдите долю выживших среди всех PClass
# Используйте метод .groupby()
# write your code here
group = df.groupby('Pclass')['Survived'].sum()
percent = group / group.sum()
print(percent)

Pclass
1    0.397661
2    0.254386
3    0.347953
Name: Survived, dtype: float64

## Часть 4: Задания для практики
Прочитайте данные из файла 'titanic.csv'.
Проверьте, есть ли пропущенные значения в данных и заполните их нулями.
Выведите первые 10 строк данных.
Выберите только те строки, где значение в столбце 'Age' больше 30.
Отсортируйте данные по столбцу 'Fare' в порядке убывания.
Сгруппируйте данные по столбцу 'Pclass' и вычислите средний возраст ('Age') для каждого класса.

In [ ]:
df = pd.read_csv("/content/Titanic.csv")

In [ ]:
df.isna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
df.fillna(0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,0,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,0,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,0,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,0,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,0.0,1,2,W./C. 6607,23.4500,0,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,0,Q

In [ ]:
print(df.head(10))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [ ]:
print(df.loc[ df['Age' ] > 30])

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
873          874         0       3
879          880         1       1
881          882         0       3
885          886         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
881                                 Markun, Mr. Johann    male  33.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500   NaN        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
873      0    345765   9.0000   NaN        S
879      1     11767  83.1583   C50        C
881      0    349257   7.8958   NaN        S
885      5    382652  29.1250   NaN        Q
890      0    370376   7.7500   NaN        Q

[305 rows x 12 columns]

In [ ]:
print(df.sort_values(by='Fare',ascending = False))

     PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
737          738         1       1              Lesurer, Mr. Gustave J
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
88            89         1       1          Fortune, Miss. Mabel Helen
27            28         0       1      Fortune, Mr. Charles Alexander
..           ...       ...     ...                                 ...
633          634         0       1       Parr, Mr. William Henry Marsh
413          414         0       2      Cunningham, Mr. Alfred Fleming
822          823         0       1     Reuchlin, Jonkheer. John George
732          733         0       2                Knight, Mr. Robert J
674          675         0       2          Watson, Mr. Ennis Hastings

        Sex   Age  SibSp  Parch    Ticket      Fare        Cabin Embarked
258  female  35.0      0      0  PC 17755  512.3292          NaN        C
737    male  35.0      0      0  PC 17755  512.3292         B101        C
679    male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
88   female  23.0      3      2     19950  263.0000  C23 C25 C27        S
27     male  19.0      3      2     19950  263.0000  C23 C25 C27        S
..      ...   ...    ...    ...       ...       ...          ...      ...
633    male   NaN      0      0    112052    0.0000          NaN        S
413    male   NaN      0      0    239853    0.0000          NaN        S
822    male  38.0      0      0     19972    0.0000          NaN        S
732    male   NaN      0      0    239855    0.0000          NaN        S
674    male   NaN      0      0    239856    0.0000          NaN        S

[891 rows x 12 columns]

In [ ]:
group = df.groupby('Pclass')['Age'].mean()
print(group)

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64